/**
 * CSS needed when displaying a CKEditor image plugin.
 */
.form-item .editor-image-toggle {
  display: inline-block;
  padding: 0 1em;
  border-left: none;
  border-right: 1px solid #CCC;
}
.form-item .editor-image-src {
  display: block;
}
[dir="rtl"] .form-item label.editor-image-toggle {
  border-right: none;
  border-left: 1px solid #CCC;
}
[dir="ltr"] .form-item .editor-image-toggle.first {
  padding-left: 0;
}
[dir="ltr"] .form-item .editor-image-toggle.last {
  border-right: none;
}
[dir="rtl"] .form-item .editor-image-toggle.first {
  padding-right: 0;
}
[dir="rtl"] .form-item .editor-image-toggle.last {
  border-left: none;
}
